.Header-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:40px;
    color: white;
    list-style-type: none;
    cursor: pointer;
}
.Navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Header{
      padding-left: 5vw;
      padding-right: 5vw;
      padding-top: 5vh;
}
.Code{
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    gap:20px;
    padding-bottom: 150px;
}
.Header{
        background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("./Components/Photos/mainBackground.png");
        background-repeat:no-repeat;
        background-size:cover;
}
@media (max-width:769px) {
    .Header-right{
        display: none;
    }
    .Header{
        background-image: url("./Components/Photos/uZkQ64.jpg");
    }
    .Code h1{
        font-size: 25px;
    }
}